body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.header-navigation {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-menu {
  display: none;
  gap: 40px;
  align-items: center;
}
.header-menu-link {
  color: #404bbf;
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf; 
  border-radius: 2px; 
}
  .header-logo-black {
    color:#2E2F42;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;

  }
  .header-logo {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
  }
  
  .header-menu-link:active,
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }
  .header-menu-link {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
padding: 24px 0;
  }
  .current {
    color: #404BBF;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .current::after {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
background: #404BBF;
position: absolute;
content: "";
left: 0;
bottom: -1px;
  }
.header-address-list {
  display: none;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: auto;
}
.header-address-item {
  
}
  .header-address-link {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }

  .menu-open-btn {
    background-color: transparent;
    border: none;
  }
  .mob-menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
width: 100vw;
height: 100vh;
background-color: #FFF;
padding: 24px 24px 40px 16px;
display: flex;
flex-direction: column;
justify-content: space-between;
opacity: 0;
visibility: hidden;
pointer-events: auto;

  }
  

  .menu-close-btn {
    display: flex;
    margin-left: auto;
    margin-bottom: 24px;
    width: 24px;
height: 24px;
border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.10);
justify-content: center;
align-items: center;

  }
  
  .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .mob-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  
  .mob-soc-list {
    display: flex;
    gap: 40px;
  }

  .mob-soc-item {
    width: 40px;
    height: 40px;
  }
  .mob-soc-link {
    width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .mob-soc-icon {
    fill: #F4F4FD;
  }

  .mob-address-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .mob-adress-link {
    color: #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
  }

  .solutions {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 16px;
    max-width: 1440px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/bg-mob-2x.jpg);
    }
  }

  .solutions-title {
    color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 288px;
}
  .solutions-btn {
background: #4D5AE5;
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
padding: 16px 32px;
cursor: pointer;
display: block;
margin: 0 auto;
border-radius: 4px;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
min-width: 169px;
height: 56px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .solutions-btn:hover,
  .solutions-btn:focus {
    background-color: #404BBF;
  }
  .benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
  .benefits-icon {
    display: none;
    align-items: center; 
    justify-content: center; 
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .benefits-list-item {
    width: 100%;
  }
  .benefits-subtitle {
    color: #2E2F42;
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
  }
  .benefits-item-text {
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
  }
  
  .team-img {
    margin: 0 auto;
    width: 100%;
  }
  .worker {
    padding: 32px 0 32px;
  }
  .team-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team-list-item {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
  .team-subtitle {
    color: #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
  }
  .team-item-text {
    color: #434455;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 8px;
  }
  .social-networks {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .social-networks-item {
    width: 40px;
    height: 40px;

  }
  .social-networks-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-networks-link:hover,
  .social-networks-link:focus {
    background-color: #404bbf; 
  }
  .social-networks-icon {
    fill: #f4f4fd;
  }

  
  .portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .portfolio-title {
    color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
 .app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
 }
  .portfolio-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .portfolio-list-item {
background: var(--WHITE, #FFF);
width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); ;
  }
  .portfolio-list-item:hover .app-descr-text {
    transform: translateY(0%);
  }
  .portfolio-item-text {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .app-descr {
    position: relative;
    overflow: hidden; 
  }
  .app-descr-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px; 
    background-color: #4d5ae5;
    height: 100%; 
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
  .footer {
    padding: 96px 16px;
    background: #2E2F42;
  }
  .footer-container {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

  }
  .footer-info {
    
  }
  .footer-logo-white {
    color: #f4f4fd;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
  }
  .footer-logo {
    color: #4d5ae5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
display: flex;
justify-content: center;
  }
  .footer-text {
    color: #F4F4FD;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
max-width: 264px;
margin-top: 17.5px;
  }
  .footer-social-media {
    display: flex;
    justify-content: center;
    gap: 16px; 
    margin: 0 auto;
  }
 .social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
text-align: center;
 }
 .social-media-item {
  width: 40px;
  height: 40px;
 }
 .social-media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .social-media-link:hover,
 .social-media-link:focus {
  background-color: #31d0aa;
 }

  .header-address {
    font-style: normal;
  }
.footer-form-wrapper {
  
  
}
  .form-text {
    color: #FFF;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
  }

.footer-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

  .footer-form-input {
    min-width: 288px;
    height: 40px;
    border-radius: 4px;
border: 1px solid #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #ffffff;
font-size: 12px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: transparent;
padding: 0 16px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
  }

.footer-form-input::placeholder {
    color: #FFF;
  }

.footer-form-btn {
  border-radius: 4px;
background: #4D5AE5;
border: none;
display: flex;
padding: 8px 24px;
justify-content: center;
align-items: center;
gap: 16px;
color: #FFF;
text-align: center;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
cursor: pointer;
}
.icon-subscribe {
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  width: 288px;
  min-height: 584px;
  border-radius: 4px;
background-color: #FCFCFC;
padding-top: 72px;
padding-right: 24px;
padding-bottom: 24px;
padding-left: 24px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-btn {
  width: 24px;
height: 24px;
border-radius: 50%;
background-color: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.10);
position: absolute;
top: 24px;
right: 24px;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title { 
  color: #2E2F42;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
  border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon {
  fill: #4D5AE5; 
}

.modal-form-btn {
  padding: 16px 32px;
  color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
background: #4D5AE5;
display: block; 
margin: 0 auto;
min-width: 169px;
height: 56px;
cursor: pointer;
border: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label {
  display: block;
  color:#8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
margin-bottom: 4px;
}
.modal-field {
  margin-bottom: 8px;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.modal-field-textarea {
  margin-bottom: 16px;
}
.modal-field-checkbox {
  margin-bottom: 24px; 
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.40);
background-color: transparent;
padding: 8px 16px;
font-size: 12px;
color: rgba(46, 47, 66, 0.4);
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
resize: none;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.40);

}
.modal-textarea:focus {
  border-color: #4D5AE5;
}
.privacy-policy {
  color: #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
}
.privacy-policy a {
  color: #4D5AE5;
  text-decoration: underline;
  align-items: center;
}
.check-text-box {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  fill: transparent;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.modal-check:checked + .privacy-policy .check-text-box {
  background-color: #404BBF;
  border: none;
  fill: #F4F4FD;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .menu-open-btn {
    display: none;
  }

  .header-menu {
    display: flex;
  }

  .header-address-list {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
  }

  .header-address-link {
  font-size: 12px;
  }

  .modal {
    width: 408px;
  }

  .benefits-list {
    gap: 72px 24px;
  }

  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }

  .team .container {
    max-width: 552px;
  }

  .team-list {
    gap: 64px 24px; 
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
}

.solutions-title {
  font-size: 56px;
  max-width: 496px;
}

.solutions {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
  url(../images/bg-tab.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .solutions {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/bg-tab-2x.jpg);
    }
  }
}
@media screen and  (min-width: 1158px) {
  .container, .team .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
    margin-left: auto;}
    
  .header-address-link {
    font-size: 16px;
    }
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-icon {
    display: flex;
  }
  .benefits-subtitle {
    text-align: start;
font-size: 20px;
font-weight: 500;
} 
.team-list-item {
  width: calc((100% - 72px) / 4);
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}
.solutions {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
  url(../images/people-office.jpg);
    }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .solutions {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
  url(../images/people-office-2x.jpg);
    }
}
}